# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
.env/

# Editor
.vscode/
.idea/

# Environment Variables (Keep local config secret)
.env
!.env.example

# Database
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db
